@import '@fontsource/inter';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}